body {

    background-color: white;
    color: white;
}

div#footer {
    
    font-size: 1.0em;
    background-color: lightBlue;
    border: 4px solid white;
    margin-top: 5em;
    padding: 2em;
}

