{% extends "layout.html" %}

{% block title %}Page final--Now we know everything!{% endblock %}

{% block content %}
  <h1>Your story has been generated!</h1>

<ul>
 <li> One (weather) {{session["timeOfday"]}} ... in (city), {{session["firstName"]}} {{session["lastName"]}} was  {{session["verb"]}} with their 
 {{session["luckyNumber"]}}   {{session["animal"]}} all named {{session['lastName']}}. {{session["firstName"]}} 
 was eating a  when suddenly a {{ session['favoriteColor'] }} {{session["food"]}} {{session['adjective']}} {{session["animal"]}} {{session["verb"]}} the {{session["food"]}}. 
</ul>



{% endblock %}

