{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>

<p>Welcome to Story Generator! Please answer the following questsions. Questions will touch on areas from the LSAT, IQ tests, and logic and philiphy. 
  The questions will progressivly become more abstract and are meant to be silly. The followng questions will touch on topics from philosphy to law
  and require onself to apply logic and rational thinking skills to answer questiosn taken from the LSAT and IQ based questions. By the end of the form the website will give a 
  prediction of 
  Try to answer the questions to best of your ability.
The following quiz will ask you a series of questions. By the end of the quiz a story will be generated based on you answers!
</p>

  <ul>
    <li><a href="/page1">Let's go!</a></li
  </ul>
{% endblock %}
